# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [84]:
import pandas as pd
import os
from datetime import datetime

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [35]:
path = "Data"
archive_list = os.listdir(path)

marks = pd.DataFrame()
info = pd.DataFrame()

for file in archive_list:
    if not os.path.splitext(os.path.join(path, file))[1] == ".csv":
        continue
    file_path = os.path.join(path, file)
    if "marks" in os.path.splitext(file_path)[0]:
        marks = pd.concat([marks, pd.read_csv(file_path)], ignore_index=True)
    if "info" in os.path.splitext(file_path)[0]:
        info = pd.concat([info, pd.read_csv(file_path)], ignore_index=True)
df = info.merge(marks, on = "index", how = "outer")
df

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,100,male,group B,some college,standard,none,group2,79,67,67
1,101,male,group D,bachelor's degree,standard,completed,group2,68,74,74
2,102,female,group D,associate's degree,standard,none,group2,85,91,89
3,103,male,group B,high school,standard,completed,group2,60,44,47
4,104,male,group C,some college,standard,completed,group2,98,86,90
...,...,...,...,...,...,...,...,...,...,...
995,995,female,group E,master's degree,standard,completed,group10,88,99,95
996,996,male,group C,high school,free/reduced,none,group10,62,55,55
997,997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,998,female,group D,some college,standard,completed,group10,68,78,77
999,999,female,group D,some college,free/reduced,none,group10,77,86,86

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [36]:
df = df.drop(columns = marks.columns[0])
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,male,group B,some college,standard,none,group2,79,67,67
1,male,group D,bachelor's degree,standard,completed,group2,68,74,74
2,female,group D,associate's degree,standard,none,group2,85,91,89
3,male,group B,high school,standard,completed,group2,60,44,47
4,male,group C,some college,standard,completed,group2,98,86,90
5,female,group C,some college,standard,none,group2,58,67,72
6,female,group D,master's degree,standard,none,group2,87,100,100
7,male,group E,associate's degree,standard,completed,group2,66,63,64
8,female,group B,associate's degree,free/reduced,none,group2,52,76,70
9,female,group B,some high school,standard,none,group2,70,64,72

#### Задание 3. Выведите на экран размеры полученной таблицы

In [38]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [79]:
print({"math score" : [df["math score"].min(),
df["math score"].max(),
df["math score"].mean(),
df["math score"].std()],
"reading score" : [df["reading score"].min(),
df["reading score"].max(),
df["reading score"].mean(),
df["reading score"].std()],
"writing score" : [df["writing score"].min(),
df["writing score"].max(),
df["writing score"].mean(),
df["writing score"].std()]})

#another solution:
print(df["math score"].agg(['min', 'max', 'mean', 'std']))
print(df["reading score"].agg(['min', 'max', 'mean', 'std']))
print(df["writing score"].agg(['min', 'max', 'mean', 'std']))

{'math score': [0, 100, 66.089, 15.16308009600947], 'reading score': [17, 100, 69.169, 14.600191937252228], 'writing score': [10, 100, 68.054, 15.195657010869647]}
min       0.00000
max     100.00000
mean     66.08900
std      15.16308
Name: math score, dtype: float64
min      17.000000
max     100.000000
mean     69.169000
std      14.600192
Name: reading score, dtype: float64
min      10.000000
max     100.000000
mean     68.054000
std      15.195657
Name: writing score, dtype: float64

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [54]:
df.isnull().values.any()

False

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [55]:
[df["math score"].mean(), df["reading score"].mean(), df["writing score"].mean()]

[66.089, 69.169, 68.054]

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [57]:
[df.loc[df["test preparation course"] == "completed"]["math score"].mean(),
df.loc[df["test preparation course"] == "completed"]["reading score"].mean(),
df.loc[df["test preparation course"] == "completed"]["writing score"].mean()]

[69.69553072625699, 73.89385474860335, 74.41899441340782]

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [58]:
df.lunch.unique()

array(['standard', 'free/reduced'], dtype=object)

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [61]:
df = df.rename(columns={"parental level of education": "education", "test preparation course": "test preparation"})
df

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,male,group B,some college,standard,none,group2,79,67,67
1,male,group D,bachelor's degree,standard,completed,group2,68,74,74
2,female,group D,associate's degree,standard,none,group2,85,91,89
3,male,group B,high school,standard,completed,group2,60,44,47
4,male,group C,some college,standard,completed,group2,98,86,90
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88,99,95
996,male,group C,high school,free/reduced,none,group10,62,55,55
997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,female,group D,some college,standard,completed,group10,68,78,77
999,female,group D,some college,free/reduced,none,group10,77,86,86

**Зафиксируем минимальный балл для сдачи экзамена**

In [62]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [74]:
#1
print(df.loc[df["math score"] >= 50]["math score"].count() / df["math score"].count())
#2
print(df.loc[(df["math score"] >= 50) & (df["test preparation"] == "completed")]["math score"].count() / df.loc[df["test preparation"] == "completed"]["math score"].count())
#3
print(df.loc[(df["gender"] == "female") & (df["test preparation"] == "none") & (df["math score"] <= 50)]["math score"].count() / df.loc[(df["gender"] == "female") & (df["test preparation"] == "none")]["math score"].count())

0.865
0.9217877094972067
0.23353293413173654

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [85]:
#1
start_time = datetime.now()
print(df.groupby(['race/ethnicity'])['reading score'].agg(['mean']))
print(datetime.now() - start_time)
#2
start_time = datetime.now()
print(df.groupby(['education'])['writing score'].agg(['min']))
print(datetime.now() - start_time)

                     mean
race/ethnicity
group A         64.674157
group B         67.352632
group C         69.103448
group D         70.030534
group E         73.028571
0:00:00.047064
                    min
education
associate's degree   35
bachelor's degree    38
high school          15
master's degree      46
some college         19
some high school     10
0:00:00.006236

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [93]:
#1
start_time = datetime.now()

dictionary = {}
for i in range(len(df)):
    if df.loc[i, 'race/ethnicity'] in dictionary.keys():
        dictionary[df.loc[i, 'race/ethnicity']][0] += df.loc[i, 'reading score']
        dictionary[df.loc[i, 'race/ethnicity']][1] += 1
    else:
        dictionary.update({df.loc[i, 'race/ethnicity']: [df.loc[i, 'reading score'], 1]})

for k in dictionary.keys():
    print(k, dictionary[k][0]/dictionary[k][1])

print(datetime.now() - start_time) #не сильно то и дольше. но на больших данных может быть значительно

#2
start_time = datetime.now()

dictionary = {}
for i in range(len(df)):
    if df.loc[i, 'education'] in dictionary.keys():
        if dictionary[df.loc[i, 'education']] > df.loc[i, 'writing score']:
            dictionary[df.loc[i, 'education']] = df.loc[i, 'writing score']
    else:
        dictionary.update({df.loc[i, 'education']: df.loc[i, 'writing score']})

for k in dictionary.keys():
    print(k, dictionary[k])

print(datetime.now() - start_time) #cильно дольше, резонней использовать то, что написано в задании выше

group B 67.35263157894737
group D 70.03053435114504
group C 69.10344827586206
group E 73.02857142857142
group A 64.67415730337079
0:00:00.028677
some college 19
bachelor's degree 38
associate's degree 35
high school 15
master's degree 46
some high school 10
0:00:00.019709

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [107]:
def check_result(res):
    if(res < passmark):
        return 'F'
    else:
        return 'P'
df['Math_PassStatus'] = ['']*len(df)
df['Reading_PassStatus'] = ['']*len(df)
df['Writing_PassStatus'] = ['']*len(df)

for i in range(len(df)):
    if(df.loc[i, 'math score'] < passmark):
        df.loc[i, 'Math_PassStatus'] = 'F'
    else:
        df.loc[i, 'Math_PassStatus'] = 'P'
    if(df.loc[i, 'reading score'] < passmark):
        df.loc[i, 'Reading_PassStatus'] = 'F'
    else:
        df.loc[i, 'Reading_PassStatus'] = 'P'
    if(df.loc[i, 'writing score'] < passmark):
        df.loc[i, 'Writing_PassStatus'] = 'F'
    else:
        df.loc[i, 'Writing_PassStatus'] = 'P'
print(df)
print(df.loc[df['Math_PassStatus'] == 'P']['Math_PassStatus'].count())
print(df.loc[df['Math_PassStatus'] == 'F']['Math_PassStatus'].count())
print(df.loc[df['Reading_PassStatus'] == 'P']['Reading_PassStatus'].count())
print(df.loc[df['Reading_PassStatus'] == 'F']['Reading_PassStatus'].count())
print(df.loc[df['Writing_PassStatus'] == 'P']['Writing_PassStatus'].count())
print(df.loc[df['Writing_PassStatus'] == 'F']['Writing_PassStatus'].count())

     gender race/ethnicity           education         lunch test preparation  \
0      male        group B        some college      standard             none
1      male        group D   bachelor's degree      standard        completed
2    female        group D  associate's degree      standard             none
3      male        group B         high school      standard        completed
4      male        group C        some college      standard        completed
..      ...            ...                 ...           ...              ...
995  female        group E     master's degree      standard        completed
996    male        group C         high school  free/reduced             none
997  female        group C         high school  free/reduced        completed
998  female        group D        some college      standard        completed
999  female        group D        some college  free/reduced             none

       group  math score  reading score  writing score Math_PassStatus  \
0     group2          79             67             67               P
1     group2          68             74             74               P
2     group2          85             91             89               P
3     group2          60             44             47               P
4     group2          98             86             90               P
..       ...         ...            ...            ...             ...
995  group10          88             99             95               P
996  group10          62             55             55               P
997  group10          59             71             65               P
998  group10          68             78             77               P
999  group10          77             86             86               P

    Reading_PassStatus Writing_PassStatus
0                    P                  P
1                    P                  P
2                    P                  P
3                    F                  F
4                    P                  P
..                 ...                ...
995                  P                  P
996                  P                  P
997                  P                  P
998                  P                  P
999                  P                  P

[1000 rows x 12 columns]
865
135
910
90
886
114

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [125]:
df['OverAll_PassStatus'] = ['']*len(df)
for i in range(len(df)):
    if(df.loc[i, 'Math_PassStatus'] == 'F' or df.loc[i, 'Reading_PassStatus'] == 'F' or df.loc[i, 'Writing_PassStatus'] == 'F'):
        df.loc[i, 'OverAll_PassStatus'] = 'F'
    else:
        df.loc[i, 'OverAll_PassStatus'] = 'P'
print(df)
print(df.groupby(['OverAll_PassStatus'])['OverAll_PassStatus'].count())

     gender race/ethnicity           education         lunch test preparation  \
0      male        group B        some college      standard             none
1      male        group D   bachelor's degree      standard        completed
2    female        group D  associate's degree      standard             none
3      male        group B         high school      standard        completed
4      male        group C        some college      standard        completed
..      ...            ...                 ...           ...              ...
995  female        group E     master's degree      standard        completed
996    male        group C         high school  free/reduced             none
997  female        group C         high school  free/reduced        completed
998  female        group D        some college      standard        completed
999  female        group D        some college  free/reduced             none

       group  math score  reading score  writing score Math_PassStatus  \
0     group2          79             67             67               P
1     group2          68             74             74               P
2     group2          85             91             89               P
3     group2          60             44             47               P
4     group2          98             86             90               P
..       ...         ...            ...            ...             ...
995  group10          88             99             95               P
996  group10          62             55             55               P
997  group10          59             71             65               P
998  group10          68             78             77               P
999  group10          77             86             86               P

    Reading_PassStatus Writing_PassStatus Grade OverAll_PassStatus
0                    P                  P     C                  P
1                    P                  P     C                  P
2                    P                  P     B                  P
3                    F                  F     E                  F
4                    P                  P     A                  P
..                 ...                ...   ...                ...
995                  P                  P     A                  P
996                  P                  P     E                  P
997                  P                  P     D                  P
998                  P                  P     C                  P
999                  P                  P     B                  P

[1000 rows x 14 columns]
OverAll_PassStatus
F    188
P    812
Name: OverAll_PassStatus, dtype: int64

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [123]:
def GetGrade(average_mark):
    if(average_mark < 50):
        return 'F'
    elif(average_mark >= 50 and average_mark < 60):
        return 'E'
    elif(average_mark >= 60 and average_mark < 70):
        return 'D'
    elif(average_mark >= 70 and average_mark < 80):
        return 'C'
    elif(average_mark >= 80 and average_mark < 90):
        return 'B'
    elif(average_mark >= 90):
        return 'A'

df['Grade'] = ['']*len(df)
for i in range(len(df)):
    df.loc[i, 'Grade'] = GetGrade((df.loc[i, 'math score'] + df.loc[i, 'reading score'] + df.loc[i, 'writing score'])/3)
print(df)

print(df.groupby(['Grade'])['Grade'].count())

     gender race/ethnicity           education         lunch test preparation  \
0      male        group B        some college      standard             none
1      male        group D   bachelor's degree      standard        completed
2    female        group D  associate's degree      standard             none
3      male        group B         high school      standard        completed
4      male        group C        some college      standard        completed
..      ...            ...                 ...           ...              ...
995  female        group E     master's degree      standard        completed
996    male        group C         high school  free/reduced             none
997  female        group C         high school  free/reduced        completed
998  female        group D        some college      standard        completed
999  female        group D        some college  free/reduced             none

       group  math score  reading score  writing score Math_PassStatus  \
0     group2          79             67             67               P
1     group2          68             74             74               P
2     group2          85             91             89               P
3     group2          60             44             47               P
4     group2          98             86             90               P
..       ...         ...            ...            ...             ...
995  group10          88             99             95               P
996  group10          62             55             55               P
997  group10          59             71             65               P
998  group10          68             78             77               P
999  group10          77             86             86               P

    Reading_PassStatus Writing_PassStatus Grade
0                    P                  P     C
1                    P                  P     C
2                    P                  P     B
3                    F                  F     E
4                    P                  P     A
..                 ...                ...   ...
995                  P                  P     A
996                  P                  P     E
997                  P                  P     D
998                  P                  P     C
999                  P                  P     B

[1000 rows x 13 columns]
Grade
A     52
B    146
C    261
D    256
E    182
F    103
Name: Grade, dtype: int64